.NavBar {
  background-color: #f8f8f8;
}
  
.Active {
  text-decoration: underline;
}
  
.NavLink:hover {
  text-decoration: underline;
  color:rgb(10, 10, 90);
}

h1 {
  font-family: 'Bacasime Antique', sans-serif;
  color:rgb(10, 10, 90);
}

.NavLink {
  font-family: 'Nanum Myeongj';
  font-size: 1.2rem;
  color: rgb(51, 93, 151);
}
