.NavBar {
  background-color: #f8f8f8;
  height: 100px;
  padding: 0 100px;
  z-index: 2;
}

.Logo img {
  width: 50px;
  height: 90px;
}

.Active {
  text-decoration: underline;
}

.NavLink:hover {
  text-decoration: underline;
  color: rgb(10, 10, 90);
}

.NavLink {
  font-family: "Nanum Myeongj";
  color: rgb(35, 63, 103);
  margin-top: 20px;
}

.Dropdown {
  z-index: 3;
}

.NavBar .NavDropdownItem {
  font-size: 1rem;
  font-family: "Nanum Myeongj";
  color: rgb(35, 63, 103);
  margin-left: 10px;
}

.DropdownBox {
  border: solid 1px #ccc;
  padding: 7px 10px;
  background-color: #fff;
  position: absolute;
  top: 80px;
  right: 100px;
}

.NavBar > div > button {
  border: none;
}

.NavBar .DropdownBtn {
  background-color: #f8f8f8;
  outline: none;
  border: none;
  font-family: "Nanum Myeongj";
  color: rgb(35, 63, 103);
  font-size: 1.2rem;
  margin-top: 15px;
}

.NavBar .DropdownBtn:hover {
  background-color: #f8f8f8;
  color: rgb(21, 40, 65);
  text-decoration: underline;
  outline: none;
  border: none;
}

.NavBar .DropdownBtn:active {
  background-color: #f8f8f8;
  color: rgb(21, 40, 65);
  outline: none;
  border: none;
}

@media screen and (max-width: 950px) {
  .NavBar {
    padding: 0 70px;
  }

  .DropdownBox {
    right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .NavBar {
    padding-right: 40px;
  }

  .NavToggle {
    background-color: #fff;
    width: 120px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 65px;
    right: 50px;
    opacity: 0.9;
  }

  .NavLink {
    margin-top: 0;
  }

  .NavBar .NavToggle a {
    font-size: 1rem;
  }

  .Dropdown a {
    margin-top: 0;
  }

  .NavBar .DropdownBtn {
    width: 80px;
    padding: 0;
    margin-top: 0;
    margin-left: -15px;
    background-color: #fff;
    font-size: 1rem;
  }

  .NavBar > button {
    border: none;
    outline: none;
  }

  /* .NavBar .DropdownBtn:hover {
    background-color: #fff;
    color: rgb(51, 93, 151);
  } */

  /* .NavBar .DropdownBtn:active {
    background-color: #fff;
    color: rgb(51, 93, 151);
  } */

  .DropdownBox {
    /* border: solid 1px #ccc; */
    padding: 7px 0;
    /* background-color: #fff; */
    position: absolute;
    /* color: rgb(51, 93, 151); */
    top: 87px;
    right: 0;
    width: 155px;
  }
}

@media screen and (max-width: 580px) {
  .NavBar {
    padding: 0 35px;
  }

  .NavToggle {
    right: 35px;
  }
}

@media screen and (max-width: 490px) {
  .NavBar {
    padding: 0 20px;
  }

  .NavToggle {
    right: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
  }
}
